
html, body{
    margin:10px;
    max-width: 100%;
 
}

header{
    margin: 20px;
}
.nav-container{
    padding: 0;
    display: flex;
    /*justify-content: space-around; space between evenly*/
    flex-direction: row;
}


/*.class > direct child*/
.nav-container > li{
    padding: 10px;
    font-size: 2em;
    box-sizing: border-box;
    list-style-type: none;
}


.search-input{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    text-align: center;
    font-size: 1rem;
}

.image-container{
    /* height: 100px;  no need to set this height as img itself set it*/
    margin: 10px;
    /* display: flex; 1d dimentional
    flex-wrap: wrap; */
    display: grid; /*2d dimentional*/
    /* grid-template-columns:repeat(auto-fit, 300px); fixt column and ugly space*/
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr)); 
    /*auto #col as shrinks, min300px, max-equally distribute 1fr to each col*/
    grid-template-rows: 1fr 1fr;
   
}

img{
    height: 80%; /*aligns the given space with other images*/
    max-width: 80%; /*resize to 100% its original size*/
    margin:20px;
}

img:hover{
    /* -ms-transform: scale(1.2); IE 9 
    -webkit-transform: scale(1.2); Safari 3-8 */
    transform: scale(1.1); 

}

footer > p{
    /* align-items: center; /*why text align itself doesn't center it*/
    /* justify-content: center; */ 
    font-size: 1.2em;
    margin: 0 auto;
    text-align: center; 
}